h1, h2, h3 {
    text-align: center;
    font-family:'Lucida Sans';
}

h1{
    font-size: 40px;
}
h2 {
    font-size: 22px;
    font-family: Comi;
}
h3{
    
}
form{
   width: 100px;
   padding-top: 20px;
   
}
select, option {
    width: 100px;
}
html { 
      background: url(https://i.pinimg.com/originals/af/fe/50/affe50f1a2322e8ab69f9410c7321aee.jpg) no-repeat center center fixed; 
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
      }
.card {
        text-align: center;
        border: grey solid 1.6px;
        padding: 1rem;
        width: 21.5rem;
        height: 25rem;
        display: inline-grid;
        margin: 1rem 2rem;
        box-shadow: 3px 4px #333;
        background: white
        
}
.container {
    padding: 1rem;
    width: stretch;
    height: auto;
    display: none;
    background: #515DA2;
    opacity: .8;
  }
  #workout_collection {
      margin: 2rem;
  }
  .exercise-image{
    justify-self: center;
    height: 12rem;
    width: auto;
  }
  form {
      font: bolder;
  }
input{
    margin-top: 10px;
}
#muscle-group, #muscle-group2{
   font: bold
}
table {
    width: 400px
}